<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h2 align="center">
        <img
        width="45"
        alt="todo Logo"
        src="assets/tasky.png"
      />
        <br/>
        Login</h2>
      <br/>
      <br/>
      <div class="alert alert-danger" *ngIf="loginError">{{loginError}}</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">INT ID</label>
          <input type="text" id="username" formControlName="username" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">PASSWORD</label>
          <input type="password" id="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group" align="center">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>