<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <p class="bold">To do Items</p>
          <br/>
          <div class="card">
            <div class="card-body">
              <div class="scrollbar scrollbox scrollbar-sidebar scrollbar-container ps ps--active-y ps--scrolling-y">
                <ul class="list-group ul-list scrollbox-content overflow">
                  <li class="list-group-item" *ngFor="let task of tasks | orderBy : 'date': true">
                    <div>
                      <input type="checkbox" class="form-check-input" id="task.id" [checked]="!task?.status" [value]="task?.status"
                             (change)="onCheckChange(task, $event)">
                      <label class="form-check-label" for="task.id" [ngClass]="{'striked': !task?.status}"><span
                        class="badge badge-info">{{task?.date | date:'dd/MM'}}</span> - {{task?.task}}</label>
                      <button (click)="deleteTask(task)" class="btn btn-sm btn-danger float-right"><i
                        class="far fa-trash-alt"></i></button>
                    </div>
                  </li>
                </ul>
              </div>
              <br/>
              <div>
                <form [formGroup]="taskForm" (ngSubmit)="addTask()">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="task" placeholder="Add Task"
                           aria-label="Add Task"
                           aria-describedby="basic-addon2" [ngClass]="{ 'is-invalid': tsubmitted && t.task.errors }">
                    <div class="input-group-append cursor">
                <span class="input-group-text add-btn"
                      id="basic-addon2" (click)="addTask()">ADD</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>